<div class="container-fluid mt-5 d-flex flex-column align-items-center">
    <div class="container info">
        <div class="font-weight-bolder row justify-content-center">
            {{date.day}}/{{date.month}}/{{date.year}}
        </div>
        <div *ngIf="currentInfo" class="row">
            <div class="col-1"></div>
            <p class="col-2"><b>name:</b> {{currentInfo.name}}</p>
            <p class="col-2"><b># of casses:</b> {{currentInfo.cases}}</p>
            <p class="col-2"><b># of deaths:</b> {{currentInfo.deaths}}</p>
            <p class="col-2"><b># of recoverd:</b> {{currentInfo.recoverd}}</p>
            <p class="col-2"><b>date:</b> {{currentInfo.date.day}}/{{currentInfo.date.month}}/{{currentInfo.date.year}}
            </p>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <p *ngFor='let g of vgrid' [ngStyle]="{'bottom':g*10-2.5+'%'}" class="position-absolute m-0">{{g}}</p>
        </div>
        <div class="chart">
            <div *ngFor='let g of hgrid' [ngStyle]="{'left':g.index*10+'%'}" class="horizontal-line ">
            </div>
            <div *ngFor='let g of vgrid' [ngStyle]="{'top':g*10+'%'}" class="vertical-line ">
            </div>
            <app-bubble *ngFor="let c of realTime" (onHover)='hover($event)' (onLeave)='leave($event)' [country]='c'>
            </app-bubble>
        </div>
    </div>
    <div class="row">
        <div class="space">
        </div>
        <div class="bottom">
            <p *ngFor='let g of hgrid' [ngStyle]="{'left':g.index*10-0.5+'%'}" class="position-absolute m-0">
                {{g.value|number:'1.0-0'}}
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <button (click)="testStart()" class="btn btn-primary">start</button>
        <button (click)="testPause()" class="btn btn-primary">pause</button>
        <button (click)="testStop()" class="btn btn-primary">stop</button>
    </div>
</div>